:root {
  --slider-track-background: linear-gradient(90deg, var(--tumblr-chat-blue) 50%, var(--tumblr-icon-gray) 0%);
  --tumblr-main-blue: #36465D;
  --tumblr-chat-blue: #529ECC;
  --tumblr-text-gray: #444444;
  --tumblr-icon-gray: #9AA2AE;
}

body {
  background-color: var(--tumblr-main-blue);
  color: white;
  width: 250px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin: 10px 0;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--slider-track-background);
  border-radius: 1rem;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.05);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -7px;
  cursor: pointer;
}

.sliderBar {
  display: flex;
  gap: 15px;
}

.sliderBar svg {
  fill: var(--tumblr-icon-gray);
}

p {
  margin-bottom: -.2rem;
}

p i {
  font-size: 90%;
}

form {
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
}

form label {
  display: flex;
  color: var(--tumblr-icon-gray);
  flex-direction: column;
  border: 1.5px solid var(--tumblr-icon-gray);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

form label:hover {
  border: 1.5px solid var(--tumblr-chat-blue);
  color: var(--tumblr-chat-blue);
}

form input[type="radio"] {
  display: none;
}

form input:checked+label {
  color: white;
  background: var(--tumblr-chat-blue);
  border-color: var(--tumblr-chat-blue);
}