:root {
    --tumblr-audio-lavender: rgb(124, 92, 255);
    --tumblr-audio-dark-lavender: #5c44bd;
    --tumblr-audio-darker-lavender: #422f8e;
    --block-slider-track-background: linear-gradient(90deg, var(--tumblr-audio-dark-lavender    ) 50%, var(--tumblr-audio-lavender) 0%);
}

.volumr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tumblr-audio-lavender);
    order: 1;
}

.visible {
    width: 20px;
    border-right: 2px solid rgba(255,255,255,0.8);
    /* var(--tumblr-audio-dark-lavender); */
}

.slider {
    transform: rotate(-90deg);
    appearance: none;
}

input.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

input.slider.Block::-webkit-slider-runnable-track {
    height: 20px;
    /* background: rgb(124, 92, 255); */ 
    background: var(--block-slider-track-background, linear-gradient(90deg, var(--tumblr-audio-dark-lavender) 0%, var(--tumblr-audio-lavender) 0%));

}

input.slider.Block::-webkit-slider-thumb {
    height: 100%;
    width: 15%;
    background: var(--tumblr-audio-darker-lavender);
}

input.slider.Circle::-webkit-slider-runnable-track {
    height: 1px;
    background: var(--tumblr-audio-dark-lavender);
}

input.slider.Circle:active::-webkit-slider-runnable-track {
    background: var(--tumblr-audio-darker-lavender);
}

input.slider.Circle::-webkit-slider-thumb {
    height: 7px;
    width: 7px;
    background: white;
    margin-top: -3px;
    border-radius: 50%;
}

input.slider.None {
    display: none;
}