:root {
    --original-purple: rgb(124, 92, 255);
    --purple-dark: 93,69,191;
    --purple-darker: 73, 39, 171;

    --tumblr-audio-main: 124, 92, 255;
    --tumblr-audio-main-dark: 93,69,191;
    --tumblr-audio-main-darker: #422f8e;
    --block-slider-track-background: linear-gradient(90deg, var(--tumblr-audio-main-dark) 50%, var(--tumblr-audio-main) 0%);
}

.volumr {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
}
.bg{
    background: rgb(var(--purple));
}

.visible {
    width: 20px;
    color: var(--purple);
    margin-right: 2px;
    overflow: hidden;
}

.slider {
    transform: rotate(-90deg);
    appearance: none;
}

input.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

input.slider.Block::-webkit-slider-runnable-track {
    height: 20.5px;
    background: var(--block-slider-track-background);
}

input.slider.Block::-webkit-slider-thumb {
    height: 21px;
    margin-top: -1px;
    width: 10%;
    background: var(--purple-darker);
}

input.slider.Circle::-webkit-slider-runnable-track {
    height: 2px;
    background: var(--purple-dark);
}

input.slider.Circle:active::-webkit-slider-runnable-track {
    background: var(--purple-dark);
    filter: brightness(90%);
}

input.slider.Circle::-webkit-slider-thumb {
    height: 8px;
    width: 8px;
    background: white;
    margin-top: -2.9px;
    border-radius: 50%;
}

input.slider.None {
    display: none;
}